$black-color:#000;
$black-rgb:rgba(0,0,0,0.5);
$white-color:#fff;
$width-full:100%;
$height-full:100%;
$padding:10px;
$oswald:'Oswald', sans-serif;
$arial:'arial';
$margin:10px;
$size-20:20px;
$size-50:50px;
$size-30:30px;
$orange-color:#ff9900;
$dark-orange:#cc6600;
$blue-color:#02c7e6;
$dark-blue:#0197b2;
$green-color:#8db737;
$dark-green:#719d18;
$red-color:#cc0000;
$dark-red:#a20303;

@mixin border-radius($radius) {
 -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
     -ms-border-radius: $radius;
         border-radius: $radius;
}
body, html{
  height: $height-full;
}
.background {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $oswald;
  height: 650px;
  min-height: $height-full;
  padding-top: $padding*13;
}
*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color:$white-color;
  margin: $margin*0;
  padding: $padding*0;
}
a{
	text-decoration: none;
}
navigation {
  background:$black-color;
  float: left;
  font-family: $arial;
  padding-bottom:$padding+5;
  padding-top:$padding+5;
  position: fixed;
  text-align: center;
  top: 0;
  width:$width-full;
  z-index:999;
  ul{
    list-style: none;
    margin: $margin*0;
    padding: $padding*0;
  	li{
      display: inline-block;
      font-size: $size-20;
      padding-left: $padding+5;
      padding-right: $padding+5;
      width: auto;
    }
  }
}
.firstcontainer{
  background-image:url("../images/first.jpg");
  margin-top:$margin*4+5;
  @extend .background;
}
.secondcontainer{
  background-image:url("../images/second.jpg");
  @extend .background;
  a{
    background: $blue-color;
    border-color: $dark-blue;
  }
}
.thirdcontainer{
  background-image:url("../images/third.jpg");
  @extend .background;
  a{
    background:$green-color;
    border-color:$dark-green;
  }
}
.fourthcontainer{
  background-image:url("../images/fourth.jpg");
  @extend .background;
  a{
    background:$red-color;
    border-color:$dark-red;
  }
}
.right-block{
  width:$width-full/3;
  float: right;
}
.left-block{
  width:490px;
  float: left;
}
h1{
  background: $black-rgb;
  font-size: $size-50;
  font-weight: normal;
  margin-bottom: $margin+5;
  padding-left: $padding - 5;
}
p{
  background: $black-rgb;
  font-family: $arial;
  font-size: $size-20;
  margin-bottom: $margin;
  padding: $padding - 5;
}
label{
  background: url("../images/tree.png") no-repeat scroll 0 0 transparent;
  float: right;
  height: 333px;
  position: relative;
  width: 360px;
  a{
    background: none repeat scroll 0 0 #ff9900;
    border-color: #cc6600;
    border-style: solid;
    border-width: 2px;
    bottom: -60px;
    display: inline-block;
    font-size:$size-30;
    left: 0;
    line-height: 60px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 207px;
    @include border-radius(10px);
  }
}
.pull-left{
  float: left !important;
}
.pull-right{
  float: right !important;
}
.container{
  margin:0 auto;
  width:950px;
}